# the default generated dir + db file
/data
/config/config.php
/config/*.config.php
/config/mimetype*.json
/config/mount.php
/apps/inc.php
/assets
/.htaccess
/node_modules
/translationfiles
/translationtool.phar
apps/accessibility/js/accessibility.js.map
apps/accessibility/js/accessibilityoca.js.map
apps/comments/js/comments.js.map
apps/comments/js/comments-app.js
apps/comments/js/comments-app.js.map
apps/comments/js/comments-tab.js.map
apps/dashboard/js/dashboard.js
apps/dashboard/js/dashboard.js.map
apps/dav/js/settings-admin-caldav.js.map
apps/dav/js/settings-personal-availability.js
apps/dav/js/settings-personal-availability.js.map
apps/files/js/dist/main.js
apps/files/js/dist/main.js.map
apps/files/js/dist/personal-settings.js
apps/files/js/dist/personal-settings.js.map
apps/files/js/dist/sidebar.js
apps/files/js/dist/sidebar.js.map
apps/files_sharing/js/dist/additionalScripts.js
apps/files_sharing/js/dist/additionalScripts.js.map
apps/files_sharing/js/dist/collaboration.js.map
apps/files_sharing/js/dist/files_sharing.js.map
apps/files_sharing/js/dist/files_sharing_tab.js
apps/files_sharing/js/dist/files_sharing_tab.js.map
apps/files_sharing/js/dist/main.js.map
apps/files_sharing/js/dist/personal-settings.js
apps/files_sharing/js/dist/personal-settings.js.map
apps/files_trashbin/js/files_trashbin.js
apps/files_trashbin/js/files_trashbin.js.map
apps/files_versions/js/files_versions.js
apps/files_versions/js/files_versions.js.map
apps/oauth2/js/oauth2.js
apps/oauth2/js/oauth2.js.map
apps/settings/css/settings.scss
apps/settings/js/vue-settings-admin-basic-settings.js
apps/settings/js/vue-settings-admin-basic-settings.js.map
apps/settings/js/vue-settings-admin-delegation.js
apps/settings/js/vue-settings-admin-delegation.js.map
apps/settings/js/vue-settings-admin-security.js
apps/settings/js/vue-settings-admin-security.js.map
apps/settings/js/vue-settings-apps.js
apps/settings/js/vue-settings-apps.js.map
apps/settings/js/vue-settings-apps-users-management.js
apps/settings/js/vue-settings-apps-users-management.js.map
apps/settings/js/vue-settings-nextcloud-pdf.js
apps/settings/js/vue-settings-nextcloud-pdf.js.map
apps/settings/js/vue-settings-personal-info.js
apps/settings/js/vue-settings-personal-info.js.map
apps/settings/js/vue-settings-personal-security.js
apps/settings/js/vue-settings-personal-security.js.map
apps/settings/js/vue-settings-personal-webauthn.js
apps/settings/js/vue-settings-personal-webauthn.js.map
apps/settings/js/vue-settings-users.js
apps/settings/js/vue-settings-users.js.map
apps/settings/templates/settings/personal/security/password.php
apps/systemtags/js/systemtags.js
apps/systemtags/js/systemtags.js.map
apps/theming/css/theming.scss
apps/twofactor_backupcodes/js/settings.js
apps/twofactor_backupcodes/js/settings.js.map
apps/updatenotification/js/updatenotification.js.map
apps/user_status/js/dashboard.js
apps/user_status/js/dashboard.js.map
apps/user_status/js/user-status-menu.js
apps/user_status/js/user-status-menu.js.map
apps/user_status/js/user-status-modal.js
apps/user_status/js/user-status-modal.js.map
apps/weather_status/js/weather-status.js
apps/weather_status/js/weather-status.js.map
apps/workflowengine/js/workflowengine.js
apps/workflowengine/js/workflowengine.js.map
core/css/apps.scss
core/js/dist/files_client.js.map
core/js/dist/files_fileinfo.js.map
core/js/dist/files_iedavclient.js.map
core/js/dist/install.js.map
core/js/dist/login.js
core/js/dist/login.js.map
core/js/dist/main.js
core/js/dist/main.js.map
core/js/dist/maintenance.js.map
core/js/dist/profile.js
core/js/dist/profile.js.map
core/js/dist/recommendedapps.js
core/js/dist/recommendedapps.js.map
core/js/dist/systemtags.js
core/js/dist/systemtags.js.map
core/js/dist/unified-search.js
core/js/dist/unified-search.js.map
# ignore all apps except core ones
/apps*/*
!/apps/accessibility
!/apps/cloud_federation_api
!/apps/comments
!/apps/contactsinteraction
!/apps/dashboard
!/apps/dav
!/apps/files
!/apps/federation
!/apps/federatedfilesharing
!/apps/sharebymail
!/apps/encryption
!/apps/files_external
!/apps/files_sharing
!/apps/files_trashbin
!/apps/files_versions
!/apps/lookup_server_connector
!/apps/user_ldap
!/apps/oauth2
!/apps/provisioning_api
!/apps/settings
!/apps/systemtags
!/apps/testing
!/apps/admin_audit
!/apps/updatenotification
!/apps/theming
!/apps/twofactor_backupcodes
!/apps/user_status
!/apps/weather_status
!/apps/workflowengine
/apps/files_external/3rdparty/irodsphp/PHPUnitTest
/apps/files_external/3rdparty/irodsphp/web
/apps/files_external/3rdparty/irodsphp/prods/test
/apps/files_external/3rdparty/irodsphp/prods/tutorials
/apps/files_external/3rdparty/irodsphp/prods/test*
/apps/files_external/tests/config.*.php

# apps modules
/apps/*/node_modules


# ignore themes except the example and the README
/themes/*
!/themes/example
!/themes/README

# just sane ignores
.*.sw[po]
*.bak
*.BAK
*~
*.orig
*.class
.cvsignore
Thumbs.db
*.py[co]
_darcs/*
CVS/*
.svn/*
RCS/*
*.backup*
.php_cs.cache

# kdevelop
.kdev
*.kdev4
*.kate-swp

# Lokalize
*lokalize*

# eclipse
.project
.settings

# netbeans
nbproject

# phpStorm
.idea
*.iml

# vscode
.vscode

# geany
*.geany

# Cloud9IDE
.settings.xml
.c9revisions

# vim ex mode
.vimrc

# ack(-grep)
.ackrc

# Mac OS
.DS_Store

# WebFinger
.well-known
/.buildpath

# Tests
/tests/phpunit.xml

# Node Modules
/build/node_modules/

# nodejs
/build/bin
/build/lib/
/build/jsdocs/
/npm-debug.log
/PhantomJS_*
/build/package-lock.json

# puphpet
puphpet

# vagrant
.vagrant
Vagrantfile

# Tests - auto-generated files
/data-autotest
/tests/.phpunit.result.cache
/tests/coverage*
/tests/css
/tests/karma-coverage
/tests/autoconfig*
/tests/autotest*
/tests/data/lorem-copy.txt
/tests/data/testimage-copy.png
/tests/ui-regression/out/
/tests/ui-regression/node_modules/
/tests/ui-regression/package-lock.json
/config/config-autotest-backup.php
/config/autoconfig.php
clover.xml

# Tests - dependencies
tests/acceptance/vendor/

composer.phar
/lib/composer/bin
/vendor-bin/**/vendor
